apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: count-api-service-pvc
  namespace: count-collection-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
