apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: count-api-service
  namespace: count-collection-system
  labels:
    app: count-api-service
    system: count-collection-system
spec:
  serviceName: "count-api-service"
  replicas: 1
  selector:
    matchLabels:
      app: count-api-service
  template:
    metadata:
      labels:
        app: count-api-service
        system: count-collection-system
    spec:
      containers:
        - name: count-api-service
          image: count-api-service:latest
          imagePullPolicy: Never
          env:
            - name: STORAGE_PATH
              value: "/data/counts.log"
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - name: storage
              mountPath: /data
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
